<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link href="main.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="photos.js">
</script>
    </head>
    <body>
        <header>
            <h2 id="h2title">{{ title }}</h2>
	    <img id="loading" src="loading.gif" style="background-color: #ffffff;"/>
            <a href="{{ category['url'] }}" class="category">Return to {{ category['label'] }}</a>
        </header>
        <div class="container" id="container">
            <div class="gallery">
	      {% for photo in photos %}
                {{ photo|get_photo_a }}
		{% endfor %}
                <span class="close"></span>
            </div>
        </div>

    </body>
{% if production_command %}
<!-- production_command -->
{% endif %}
</html>
